doctype html
head
    meta(charset="UTF-8")
    title #{title}
    link(rel="icon" type="image/png" href="/public/images/icons/favicon.ico")
    link(href="/public/css/index.css" type="text/css" rel="stylesheet")
    script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    script(type="text/javascript" src="https://www.gstatic.com/charts/loader.js")
    script(type="text/javascript" src="/public/js/index.js")

body
    #container
        nav#left-nav
            #logo
                | Admin
                span  P a n e l
            ul#menu
                li
                    a#dashboard Dashboard
                li
                    a#account #{username}'s Account
            #minimize
                | &lt;
        header#top-nav
            #links
                a#logout(href="/logout") Logout
        main#main
            #maximize
                | &gt;
            #actions-contianer
                #dashboard-action
                    .title
                        | Dashboard
                    .row
                        .action
                            .chart-wrap
                                .chart-div#piechart1(style="width: 100%;")
                        .action
                            .chart-wrap
                                .chart-div#piechart2(style="width: 100%;")
                    .row
                        .action
                            .chart-wrap
                                .chart-div#piechart3(style="width: 100%;")
                        .action
                            .chart-wrap
                                .chart-div#piechart4(style="width: 100%;")
                #account-action
                    .title
                        | #{username}'s Account
                    .row
                        .action
                            h1 Account Details
                            p Gebruikersnaam: #{username}
                        .action
                            h1 Instellingen
                            p Notificaties:
                                label
                                    input(type='checkbox' name='notificaties' value='1').radio
