doctype html
head
    meta(charset="UTF-8")
    title #{title}
    link(rel="icon" type="image/png" href="/public/images/icons/favicon.ico")
    link(href="/public/css/simulatie.css" type="text/css" rel="stylesheet")
    script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    script(type="text/javascript" src="/public/js/simulatie.js")

body
    .container
        h1 #{username}'s Simulatie
        label.switch
            input#aan-uit-slider(type='checkbox')
            span.slider
        label.reset-btn-title Reset Database
            input#reset-btn(type='button' value='reset')
