body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    font-family: monospace;
    box-sizing: border-box;
    transition: all ease-in-out .2s;
}

button {
    outline: none;
}

#container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #f7f7f7;
}

nav {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    margin-left: 0;
    height: 100%;
    background-color: #3C4652;
}

#logo {
    height: 50px;
    background-color: #3C4652;
    color: #87CE34;
    text-align: center;
    line-height: 50px;
    font-size: 1.3em;
    font-family: Arial, serif;
}

#logo span {
    font-size: .8em;
    font-family: monospace;
    font-style: italic;
    color: #f7f7f7;
}

#menu {
    width: 100%;
    background-color: #3C4652;
}

#menu li {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #3C4652;
    text-transform: capitalize;
}

#menu li>a {
    font-size: 0.8em;
    font-family: Arial, serif;
    width: 100%;
    height: 100%;
    color: #f7f7f7;
    display: block;
    text-align: center;
    text-decoration: none;
}

#menu li:hover {
    background-color: #507921;
}

#menu li>a:hover {
    box-sizing: border-box;
    /*color: #87CE34;*/
    border-left: 3px solid #87CE34;
}

header {
    width: calc(100% - 200px);
    height: 50px;
    position: absolute;
    display: block;
    top: 0;
    left: 200px;
    background-color: #3C4652;
    color: #f7f7f7;
    line-height: 50px;
}

header #links {
    float: right;
    height: 50px;
    display: block;
    color: #f7f7f7;
    font-size: 1em;
}

#links>a {
    color: #f7f7f7;
    text-decoration: none;
    padding: 0 .5em;
    height: 100%;
    width: 100%;
    display: block;
}

#links:hover {
    background-color: #87CE34;
}

main {
    position: absolute;
    top: 50px;
    left: 200px;
    height: calc(100% - 50px);
    width: calc(100% - 200px);
    background-color: #dadada;
    overflow: auto;
}

#minimize {
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: 20px;
    left: 75px;
    color: #f7f7f7;
    font-size: 2em;
    background-color: #555555;
    border: none;
    border-radius: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
}

#minimize:hover {
    background-color: #87CE34;
}

#maximize {
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: 20px;
    left: 20px;
    color: #f7f7f7;
    font-size: 2em;
    background-color: #555555;
    border: none;
    border-radius: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    transform: scale(0);
}

#maximize:hover {
    background-color: #87CE34;
}

#actions-contianer {
    width: 80%;
    margin: 2em auto;
    height: calc(100% - 4em);
}

.title {
    width: 100%;
    height: 50%;
    display: block;
    text-align: center;
    line-height: 50px;
    margin-bottom: 1em;
    font-family: arial, serif;
    font-weight: bold;
    text-transform: capitalize;
}

.row {
    display: flex;
    width: 100%;
    min-height: 200px;
    flex-wrap: nowrap;
    flex-direction: row;
    padding: 1em;
}

.flex-height {
    height: fit-content;
}

.action {
    flex-basis: 100%;
    background-color: white;
    height: 100%;
    margin: 1em;
    box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03), 0 0.9375rem 1.40625rem rgba(4,9,20,0.03), 0 0.25rem 0.53125rem rgba(4,9,20,0.05), 0 0.125rem 0.1875rem rgba(4,9,20,0.03);
    border-width: 0;
    transition: all .2s;
}

#dashboard-action, #account-acount {
    display: none;
}

.chart-wrap {
    position: relative;
    padding-bottom: 100%;
    height: 0;
    overflow: hidden;
}

.chart-div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.card-header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(26,54,126,0.125);
    padding: .75rem 1.25rem;
    height: 3.5rem;
    color: rgba(13,27,62,0.7);
    font-weight: bold;
}

.card-header-right {
    margin-left: auto;
    white-space: nowrap;
    position: relative;
}

.header-btn {
    cursor: pointer;
    padding: .25rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .2rem;
    border: solid 2px #444054;
}

#actie-menu {
    display: none;
    width: 100px;
    height: fit-content;
    position: absolute;
    right: calc(-100% + 1.25rem);
    top: 0;
    box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03), 0 0.9375rem 1.40625rem rgba(4,9,20,0.03), 0 0.25rem 0.53125rem rgba(4,9,20,0.05), 0 0.125rem 0.1875rem rgba(4,9,20,0.03);
}

.header-btn:hover, .header-btn:focus {
    color: #fff;
    background-color: #444054;
}

.header-btn:focus + #actie-menu {
    display: block;
}

#actie-menu>button {
    background-color: #f2f2f2;
    width: 100%;
    padding: .25rem 1rem;
    cursor: pointer;
    font-size: 1rem;
    line-height: 1.5;
    display: block;
    border: none;
    border-bottom: 1px solid #7f7f7f;
}

#actie-menu>button:last-of-type {
    border:none;
}

#actie-menu>button:hover {
    background-color: #e0f3ff;
}

.card-table {
    font-family: Arial, serif;
    border-collapse: collapse;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}

.card-table td, .card-table th {
    border: 1px solid #ddd;
    padding: .55rem;
}

.card-table tbody>tr:hover {background-color: #e0f3ff;}

.card-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    color: #495057;
    line-height: 1.5;
    font-size: .88rem;
    font-weight: bold;
}

.card-table td {
    position: relative;
}

.card-table td:nth-child(2) {
    text-align: left;
    padding: .8rem;
}

.card-table td input {
    position: absolute;
    display: block;
    top:0;
    left:0;
    margin: 0;
    height: 100%;
    width: 100%;
    border: none;
    padding: 10px;
    box-sizing: border-box;
}

.acties-btn-group {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
}

.acties-btn {
    color: #fff;
    background-color: #3f6ad8;
    border: 1px solid transparent;
    font-size: .8rem;
    font-weight: 500;
    box-shadow: 0 0.125rem 0.625rem rgba(63,106,216,0.4), 0 0.0625rem 0.125rem rgba(63,106,216,0.5);
    transition: color 0.15s,background-color 0.15s,border-color 0.15s,box-shadow 0.15s;
    padding: .25rem .5rem;
    line-height: 1.5;
}

.acties-btn:hover {
    background-color: #315cbf;
}

.acties-btn-group>.acties-btn:first-of-type {
    border-top-left-radius: .2em;
    border-bottom-left-radius: .2em;
}
.acties-btn-group>.acties-btn:last-of-type {
    border-top-right-radius: .2em;
    border-bottom-right-radius: .2em;
    background-color: #e92222;
}
