body, html {
    width: 100%;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    font-family: monospace;
    box-sizing: border-box;
}

#container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333333;
}

#login-container {
    width: 27.5%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255,255,255,0.2);
    padding: 15px;
}

#form {
    width: 100%;
    height: 100%;
    display: block;
}

.title {
    width: 100%;
    color: #fff;
    font-size: 1.1em;
    font-family: arial, serif;
    text-align: center;
    margin: 1em 0;
}

.form-group {
    width: 100%;
    display: block;
    float: left;
}

.form-group label {
    width: 100%;
    display: block;
    float: left;
    color: #fff;
}

.form-group .form-control {
    margin: 1em 0;
    background-color: #222222;
    color: #fff;
    border: 0px solid #1E90FF;
    padding: 7px;
    width: 100%;
    font-family: arial, serif;
    outline: none;
    transition: all ease-in-out .2s;
}

.form-control:focus {
    color: #1E90FF;
    border-width: 1px;
    padding: 6px;
}

.form-btn {
    display: block;
    margin: 1em auto;
    border: none;
    background-color: #1E90FF;
    color: #fff;
    font-size: 1em;
    outline: none;
    padding: .4em 1em;
}
