* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #eee;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h1 {
    margin-bottom: 40px;
    font-family: sans-serif;
    text-transform: capitalize;
}

.switch {
    position: relative;
    display: inline-block;
    width: 110px;
    height: 60px;
    margin: 0 10px;
}

.slider {
    position: absolute;;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.switch #aan-uit-slider{display: none}

.slider:before {
    position: absolute;
    content: "";
    height: 50px;
    width: 50px;
    left: 5px;
    bottom: 5px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50px;
}

#aan-uit-slider:checked + .slider {
    background-color: #ff278c;
}

#aan-uit-slider:checked + .slider:before {
    transform: translateX(50px);
}

.reset-btn-title {
    display: block;
}
